{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>로그인</title>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <h1>로그인</h1>
        <form method="POST">
          {% csrf_token %}
          <br />
          <input name="username" type="text" placeholder="아이디" />
          <br />
          <br />
          <input name="password" type="password" placeholder="비밀번호" />
          <br /><br />
          <input
            id="loginBtn"
            type="submit"
            class="btn btn-primary"
            value="Login"
          />
        </form>
        <br />
        회원이 아니신가요? <a href="signup.html">회원가입</a>
      </div>
    </div>
  </body>
</html>
