<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Let's park</title>
  </head>
  <body>
    <h1>{{park_detail.park_name}}</h1>
    <p>{{park_detail.location}}</p>
    <p>{{park_detail.operating_time}}</p>
    <p>{{park_detail.fee}}</p>
    <p>{{park_detail.phone_number}}</p>
    <p>빈자리 현황: {{park_detail.seat_count}}자리</p>
    <a href="/booking/park/">목록</a>
    <button>예약하기</button>
    <script></script>
  </body>
</html>
