<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/park.css" />
    <title>Let's park</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li class="logo"><a href="/"> Let's Park</a></li>
        <li class="login">login</li>
        <li class="sign_up">sign up</li>
      </ul>
    </div>
    <div class="content">
      <p class="title">LIST</p>
      <ul>
        {% for park in park_list %}

        <li>
          <a href="{{park.pk}}"> {{park.park_name}} </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </body>
</html>
