body {
  background-color: #eff7ff;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  text-align: center;
}

li {
  line-height: 50px;
}

.nav {
  width: 100%;
  height: 50px;
}

.logo {
  margin-right: 85%;
  font-size: large;
  font-weight: bold;
}

.login {
  margin-right: 20px;
}

.content {
  width: 500px;
  margin: auto;
  margin-top: 100px;
}

.content .title {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  margin-bottom: 50px;
}
.content ul {
  margin-bottom: 25px;
  font-weight: bold;
  display: contents;
}

.content ul li {
  background-color: #c9e3fc;
  width: 300px;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 20px;
}

.content ul li:hover {
  background-color: #b3d8fa;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 50px;
}
