body {
  background-color: #eff7ff;
  margin: 0;
  font-weight: bold;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  text-align: center;
}

li {
  line-height: 50px;
}

.nav {
  width: 100%;
  height: 50px;
}

.logo {
  margin-right: 85%;
  font-size: large;
  font-weight: bold;
}

.login {
  margin-right: 20px;
}

.check {
  margin-right: 10px;
}

.content {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 100px;
}

.content div {
  background-color: #c9e3fc;
  border-radius: 50px;
  margin-bottom: 25px;
  height: 200px;
  line-height: 200px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.content div:hover {
  background-color: #b3d8fa;
}
