body {
  background-color: #eff7ff;
  margin: 0;
  font-weight: bold;
}

.content {
  text-align: center;
  color: #2a2b2cd8;
}

#text {
  font-size: 70px;
  font-weight: bold;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li {
  line-height: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  text-align: center;
}

.nav {
  width: 100%;
  height: 50px;
}

.logo {
  margin-right: 85%;
  font-size: large;
  font-weight: bold;
}

.logout {
  margin-left: 4%;
}

.canclebooking {
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  background-color: #c9e3fc;
  font-weight: bold;
  cursor: pointer;
}

.canclebooking:hover {
  background-color: #b3d8fa;
}
